
  #attBtn, #cityName , #addWeather {

    padding: 0 !important;

  }

  #addWeather {

    background-color: transparent!important;
  }

  .your-class::-webkit-input-placeholder {
    color: #f75865
}
